<h1>Aggiorna Stampanti</h1>

<div>
    <table class="tabella">
        <tr>
            <td class="firstrow">Reparto</td>
            <td class="firstrow">IP</td>
            <td class="firstrow">Porta</td>
        </tr>

        @foreach (var stampante in Model)
        {
            <tr>

                <td class="otherrows">@stampante.Nome</td>
                <td class="otherrows">@stampante.IP</td>
                <td class="otherrows">@stampante.Port</td>
            </tr>
        }

    </table>
    <br />
    <input type="submit" />
    
</div>


