@model List<Stampanti.Models.Stampante>

@{
    ViewBag.Title = "Delete";
}
<br />
<h2>Elimina</h2>
<h3>Sei sicuro di voler cancellare questa stampante?</h3>
<br />
<p class="text-allert"><i>Le stampanti eliminate non sono recuperabili</i></p>
<div>
    @using (Html.BeginForm())
    {
        <div class="form-actions no-color">
            <input type="submit" value="Elimina" class="btn btn-default" />
        </div>
        <br />
        <div>
            @Html.ActionLink("Annulla", "Index")
        </div>
    }
</div>
